
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

form {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px; /* Adjust width as needed */
}

label {
    display: block;
    margin-bottom: 8px;
    color: #555;
}

input {
    width: calc(100% - 20px); /* Adjust width and padding as needed */
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

input[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

.error {
    color: #ff0000;
    text-align: center;
    margin-bottom: 15px; /* Added margin to separate from the link */
}

a {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    background-color: #007bff;
    padding: 10px 20px;
    border-radius: 4px;
    transition: background-color 0.3s;
    margin: 0 auto; /* Center the link */
}

a:hover {
    background-color: #0056b3;
    text-decoration: none;
}